.dialog-elements {
    width: 90%;
    margin: 0 auto;
    margin-left: 7.7%;
}

.p-dialog-header {
    padding-left: 11.5%;
}

.p-dialog .p-dialog-title {
    flex-grow: 1;
    position: relative;
    left: 30%;
}

.p-button-text {
    margin-left: 5%;
}

.p-field {
    padding: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.p-button {
    left: 30.5%;
    position: relative;
}

/* Responsive design */
@media (max-width: 768px) {

    .p-button-text,.p-button {
        font-size: 0.7rem;
        width: 4.5rem;
        height: 2.5rem;
    }
}