.user-posts {
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p-listbox {
    box-shadow: #babbbb 5px 5px 5px;
    margin-bottom: 1rem;
    width: 28rem;   
}
.p-listbox-item{
width: 27rem; 
}
p{
    width: 26rem;

}

/* Responsive design */

@media (max-width: 768px) {

    .p-listbox {
      width: max-content;
      
    }
    
   #create-post-button {
    font-size: 0.8rem;
        width: 3.5rem;
        height: 2.5rem;
    }
    p,h3,h2{
         
            font-size:smaller;
    }
  }