table {
    width: max-content;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    margin-left: 0;
}

.display-posts {
    overflow-x: auto;
    display: grid;
    grid-template-columns: 63% 37%;
    justify-content: space-around;
    width: 100%;
}

.p-datatable-users {
    margin: 2rem 2rem 1rem 2rem;
    width: 52rem;
}

.title {
    margin-left: 4%;
    margin-top: 2rem;
    border-bottom: #333 1px dotted;
    width: 47.50%;
}

/* Responsive design */

@media (max-width: 320px) {
    table {
        font-size: 0.3rem;
    }
}



/* Responsive design */
@media (max-width: 768px) {
    .p-datatable-users {
        margin: 1rem 0 1rem 0;  /* Adjusting margins for smaller screens */
        width: 100%;        /* Making the table full width on smaller screens */
    }


    th, td {
        padding: 0.5rem;    /* Adjusting padding for better spacing on smaller screens */
        text-align: left;   /* Adjusting alignment */
    }
  

    button {
        width: 1.5rem;
        height: 1.5rem;
    }

    .display-posts {
        display: block;     /* Changing the display to block for better stacking on smaller screens */
        overflow-x: auto;   /* Adding overflow-x for horizontal scrolling if necessary */
    }
   
}
