body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0.3rem;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
}

button {
  padding: 7px 7px;
  background-color: #2e91fb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  left: 1%;
  position: relative;
  margin: 0.2rem;
}

button:hover {
  background-color: #0056b3;
}

table,
th,
td {
  border: 2px double #1b3e63;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #007bff45;
}


/* Responsive design */
@media (max-width: 768px) {

  input[type="text"],
  input[type="email"],
  textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 0.5rem;
  }
  h1{
    font-size: smaller;
  }
}


